.image-slider {
  max-width: 100%;
}
.image-slider-container {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 100%;
}
.slider-carousel {
  display: flex;
  gap: 30px;
}
.last-image-slider {
  border: 1px solid #ddd;
}
.image-slider-bottom {
  margin-top: 100px;
  margin-bottom: 100px;
}
.slider-carousel {
  cursor: pointer;
}
.image-slider {
  position: relative;
}
.image-slider .cYcnau,
.image-slider .DkxSo {
  opacity: 0;
}

/* START RWD */
@media screen and (max-width: 990px) {
  .image-slider {
    max-width: 100%;
  }
  .image-slider-container {
    max-width: 100%;
  }
}
/* END RWD */
