.wishlist {
  max-width: 100%;
  margin-bottom: 100px;
}
.wishlist-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.wish-head {
  margin-left: 150px;
}
.wishlist-counter {
  width: 30%;
}
.wishlist-counter {
  border: 1px solid #ddd !important;
  display: flex;
  width: 100px !important;
  height: 40px;
  display: flex;
  align-items: center;
}
.wishlist-counter-l,
.wishlist-counter-r {
  width: 30px;
  height: 100%;
  border: 1px solid transparent;
  background-color: #fff;
  cursor: pointer;
  font-size: 25px;
  transition: 0.5s;
}
.wishlist-counter-l:hover,
.wishlist-counter-r:hover {
  background-color: #8ed1fc;
}
.wishlist-counter-l {
  border-right: 1px solid #ddd !important;
}
.wishlist-counter-r {
  border-left: 1px solid #ddd !important;
}
.counter-num {
  width: 40px !important;
  text-align: center;
}
.wishlist-total-price {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding: 20px;
}

.wishlist-total-price h2 {
  font-weight: 500;
}

.no-item {
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding: 20px;
  font-size: 25px;
  color: #8ed1fc;
}
.wishlist-product-row .clear-icon {
  margin-right: -20px !important;
}
.wishlist-body {
  margin-left: 5%;
  /* margin-right: 150px; */
  border: 1px solid #ddd;
}
.wishlist-table-row {
  display: flex;
}
.wishlist-table-row h2,
.wishlist-table-row h3 {
  font-size: 20px;
}
.wishlist-product-row {
  border-top: 1px solid #ddd;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}
.wishlist-product-row img {
  width: 80px;
  height: 80px;
}
.wishlist-row-image {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 300px;
}
.price-wish {
  margin-right: 170px;
}
.status-stock {
  margin-right: 150px;
}
.wishlist-btn {
  background-color: #076cec;
  cursor: pointer;
  color: #fff;
  border: 1px solid #076cec;
  border-radius: 7px;
  width: 150px;
  height: 40px;
  transition: 0.5s;
  font-size: 15px;
  font-weight: 700;
  margin-right: 50px;
}
.wishlist-btn:hover {
  background-color: #8ed1fc;
  border: 1px solid #8ed1fc;
}
.title {
  width: 40% !important;
}
.clear-row {
  padding-right: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.clear-row:hover {
  padding-right: 20px;
  color: red;
}

.wishlist-table-row {
  padding: 20px;
  display: flex;
  align-items: center;
}
.wishlist-table-row h4,
.wishlist-table-row h3 {
  margin-right: 150px;
}
.wishlist-table-row h2 {
  margin-right: 200px;
}
.wishlist-product-row .wishlist-row-image {
  margin-right: 20px;
}
.price-prod {
  margin-right: 20px;
}
.counter-num {
  margin-right: 190px;
}
.total-row-price {
  width: 200px;
}
.no-pro {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 20px;
}

/* start res */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .wishlist-body {
    width: 80%;
  }
  .wishlist-table-row{
    display: none;
  }
  .wishlist-table{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
  }
  .wishlist-product-row{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 45%;
  }
  .wishlist-row-image{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .wishlist-row-image img{
    width: 100%;
    height: 300px;
  }
  .wishlist-product-row .price-wish,
  .wishlist-product-row .status-stock{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 40%;
  }
  .wishlist-product-row button{
    margin-left: 12%;
  }
}
@media screen and (min-width: 401px) and (max-width: 767px) {
  .wishlist-body {
    width: 80%;
  }
  .wishlist-table-row{
    display: none;
  }
  .wishlist-table{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
    margin-left: 0;
  }
  .wishlist-product-row{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
  }
  .wishlist-row-image{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .wishlist-row-image img{
    width: 100%;
    height: 300px;
  }
  .wishlist-product-row .price-wish,
  .wishlist-product-row .status-stock{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 40%;
  }
  .wishlist-product-row button{
    margin-left: 12%;
  }
  .wishlist-product-row,
  .wishlist-table {
    border: none;
    outline: none;
  }
}
@media screen and (max-width: 400px) {
  .wishlist-body {
    width: 100%;
  }
  .wishlist-product-row,
  .wishlist-table {
    border: none;
    outline: none;
  }
  .wishlist-table-row{
    display: none;
  }
  .wishlist-table{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
    flex-direction: column;
  }
  .wishlist-product-row{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  .wishlist-row-image{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .wishlist-row-image img{
    width: 100%;
    height: 300px;
  }
  .wishlist-product-row .price-wish,
  .wishlist-product-row .status-stock{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 40%;
  }
  .wishlist-product-row button{
    margin-left: 12%;
  }
}
/* end res */
