.news-letter {
  margin-top: 100px;
  background-color: #dbf4fc !important;
  max-width: 100%;
}
.news-letter-container {
  width: 500px;
  /* background-color: brown; */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-left: 32%;
}
.news-letter-title {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  margin-top: 70px;
}
.news-letter-title h2 {
  font-size: 35px;
}
.news-letter-search {
  margin-bottom: 70px;
  margin-top: 20px;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.15); */
  height: 60px;
}
.news-letter-search input {
  width: 75%;
  height: 100%;
  border: transparent;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px 0 0 10px;
}
.news-letter-search input:focus {
  outline: none;
}
.news-letter-search button {
  border-radius: 0 10px 10px 0;
  width: 25%;
  height: 100%;
  font-size: 17px;
  font-weight: 500;
  border: transparent;
  cursor: pointer;
  color: #fff;
  background-color: #076cec;
  transition: 0.5s;
}
.news-letter-search button:hover {
  background-color: #8ed1fc;
}

/* start res */
@media (max-width: 991px) {
  .news-letter-title {
    margin-left: -100px;
  }
  .news-letter-search {
    margin-left: -40px;
  }
}
@media (max-width: 767px) {
  .news-letter-title {
    margin-left: -250px;
  }
  .news-letter-search {
    margin-left: -120px;
  }
}
/* end res */
