.cart {
  max-width: 100%;
  margin-bottom: 100px;
}
.cart-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.cart-counter {
  width: 30%;
}
.cart-counter {
  border: 1px solid #ddd !important;
  display: flex;
  width: 100px !important;
  height: 40px;
  display: flex;
  align-items: center;
}
.cart-counter-l,
.cart-counter-r {
  width: 30px;
  height: 100%;
  border: 1px solid transparent;
  background-color: #fff;
  cursor: pointer;
  font-size: 25px;
  transition: 0.5s;
}
.cart-counter-l:hover,
.cart-counter-r:hover {
  background-color: #8ed1fc;
}
.cart-counter-l {
  border-right: 1px solid #ddd !important;
}
.cart-counter-r {
  border-left: 1px solid #ddd !important;
}
.counter-num {
  width: 40px !important;
  text-align: center;
}
.cart-total-price {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding: 20px;
}

.cart-total-price h2 {
  font-weight: 500;
}

.no-item {
  width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding: 20px;
  font-size: 25px;
  color: #8ed1fc;
}
.cart-product-row .clear-icon {
  margin-right: -20px !important;
}
.cart-body {
  margin-right: 10px;
  border: 1px solid #ddd;
  max-width: 100%;
}
.cart-table {
  width: 100%;
}
.cart-table-row {
  display: flex;
}
.cart-table-row h2,
.cart-table-row h3,
.cart-table-row h4 {
  font-size: 20px;
  margin-top: 15px;
}
.cart-product-row {
  border-top: 1px solid #ddd;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}
.cart-product-row img {
  width: 80px;
  height: 80px;
}
.cart-row-image {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 30%;
}
.cart-product-row p,
.cart-product-row .cart-counter {
  width: 20%;
}
.title {
  width: 40% !important;
}
.clear-row {
  padding-right: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.clear-row:hover {
  padding-right: 20px;
  color: red;
}
.cart-table-row {
  padding: 20px;
  display: flex;
  align-items: center;
}
.cart-table-row h4,
.cart-table-row h3 {
  margin-right: 150px;
}
.cart-table-row h2 {
  margin-right: 200px;
}
.cart-product-row .cart-row-image {
  margin-right: 20px;
}
.price-prod {
  margin-right: 20px;
}
.counter-num {
  margin-right: 190px;
}
.total-row-price {
  width: 200px;
}

/* start res */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .cart,
  .cart-container {
    max-width: 100%;
  }
  .cart-body {
    width: 100%;
  }
  .cart-table-row {
    display: none;
  }
  .cart-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
  }
  .cart-product-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 45%;
  }
  .cart-row-image {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .cart-row-image img {
    width: 100%;
    height: 300px;
  }
  .cart .total-row-price,
  .cart .counter-num {
    display: none;
  }
  .cart-product-row .price-wish,
  .cart-product-row .status-stock {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 40%;
  }
  .cart-product-row button {
    margin-left: 12%;
  }
}
@media screen and (min-width: 401px) and (max-width: 767px) {
  .cart,
  .cart-container {
    max-width: 100%;
  }
  .cart-body {
    width: 100%;
  }
  .cart-table-row {
    display: none;
  }
  .cart-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
    margin-left: 0;
  }
  .cart-product-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
  }
  .cart-row-image {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .cart-row-image img {
    width: 100%;
    height: 300px;
  }
  .cart .total-row-price,
  .cart .counter-num {
    display: none;
  }
  .cart .total-row-price,
  .cart .counter-num {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 5%;
  }
  .cart-product-row .price-wish,
  .cart-product-row .status-stock {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 40%;
  }
  .cart-product-row button {
    margin-left: 12%;
  }
  .cart-product-row,
  .cart-table {
    border: none;
    outline: none;
  }
  .cart .total-row-price,
  .cart .counter-num {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .cart,
  .cart-container {
    max-width: 100%;
  }
  .cart-body {
    width: 100%;
  }
  .cart-product-row,
  .cart-table {
    border: none;
    outline: none;
  }
  .cart-table-row {
    display: none;
  }
  .cart-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
    flex-direction: column;
  }
  .cart-product-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  .cart-row-image {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .cart-row-image img {
    width: 100%;
    height: 300px;
  }
  .cart .total-row-price,
  .cart .counter-num {
    display: none;
  }
  .cart-product-row .price-wish,
  .cart-product-row .status-stock {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 40%;
  }
  .cart-product-row button {
    margin-left: 12%;
  }
}
/* end res */
