.product {
  max-width: 100%;
}
.product-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.product-body {
  display: flex;
  gap: 5%;
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.product-container-left {
  width: 25%;
}
.product-container-left .shop-body-left {
  width: 100%;
}
.product-container-left .blog-left-row-l {
  margin-bottom: 100px;
}
.product-container-right {
  width: 70%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.product-container-right img {
  width: 100%;
  height: 450px;
}
.product-right-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-right-content h2 {
  font-size: 30px;
  font-weight: 100;
}
.product-right-content .price {
  color: #076cec;
  font-size: 20px;
}
.product-right-content p {
  line-height: 1.6;
  flex-wrap: wrap;
  color: #444;
}
.product-right-btns {
  display: flex;
  gap: 40px;
}
.product-right-btns button {
  margin-top: 20px;
  background-color: #076cec;
  border: 1px solid #076cec;
  cursor: pointer;
  transition: 0.5s;
  width: 150px;
  height: 40px;
  border-radius: 7px;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}
.product-right-btns button:hover {
  background-color: #8ed1fc;
  border: 1px solid #8ed1fc;
}

/* start res */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .product,
  .product-container,
  .product-body {
    max-width: 100%;
  }
  .product-body {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 20px;
    margin-right: 20px;
  }
  .product-container-right {
    width: 100%;
    display: flex;
    gap: 7%;
  }
  .product-container-right img {
    width: 45%;
  }
  .product-right-content {
    width: 45%;
  }
  .product-container-left {
    max-width: 100%;
    margin-top: 30px;
    width: 100%;
  }
  .blog-left-list,
  .left-row-l,
  .blog-left-row {
    width: 100%;
  }
}
@media screen and (min-width: 401px) and (max-width: 767px) {
  .product,
  .product-container,
  .product-body {
    max-width: 100%;
  }
  .product-container-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .product-body {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .product-container-right img {
    width: 100%;
    height: 100vh;
  }
  .product-container-left {
    width: 100%;
  }
  .shop-body-left,
  .blog-left-list,
  .left-row-l,
  .blog-left-row,
  .blog-left-head,
  .blog-left-head h2 {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .product,
  .product-container,
  .product-body {
    max-width: 100%;
  }
  .product-container-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .product-body {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    gap: 40px;
  }
  .product-container-right img {
    width: 100%;
    height: 100vh;
  }
  .product-container-left {
    width: 100%;
  }
  .shop-body-left,
  .blog-left-list,
  .left-row-l,
  .blog-left-row,
  .blog-left-head,
  .blog-left-head h2 {
    width: 100%;
  }
  .product-container-left {
    width: 100%;
  }
}
/* end res */
