.special-products-title {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-left: 400px;
  line-height: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
.special-products-title h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.special-products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 30px;
}

/* start res */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .special-products{
    max-width: 100%;
  }
  .special-products-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .special-products-container {
    margin-left: 120px;
    display: flex;
    flex-wrap: wrap;
  }
  .products-box {
    width: 45%;
  }
}
@media screen and (max-width: 767px) {
  .special-products-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .special-products-title p{
    display: flex;
    flex-wrap: wrap;
  }
  .special-products-container{
    margin-left: 45px;
    display: flex;
    flex-wrap: wrap;
  }
  .products-box {
    width: 90%;
    margin-left: 20px;
  }
}
/* end res */
